h1 {
    font-size: 2.5em;
    padding-left: 15px;
}

h2 {
    float: left;
    width: 45%;
}

.cal_output {
    float: left;
    width: 45%;
    border-radius: 50%;
    /* need this for red circle animation ^^ */
    margin-left: 25px;
}

h3 {
    float: left;
    width: 35%;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 10px;
}

hr {
    width: 100%;
}

.list {
    float: left;
    width: 310px;
    margin: 20px;
    padding: 10px;
    padding-top: 5px;
    border: 2px solid black;
}

input[type="text"] {
    float: left;
    width: 60%;
    font-size: 1em;
    border: 0;
    border-bottom: 2px solid green;
    margin-top: 12px;
}

input[type="text"]:focus {
    outline-color: green;
}

.button_bar {
    float: left;
    width: 100%;
}

.add_button, .clear_button, .calc_button {
    margin: 25px 5px 0px 0px;
    font-size: 1.125em;
}
